[submodule "third_party/qcoro"]
	path = third_party/qcoro
	url = https://github.com/qcoro/qcoro.git
[submodule "third_party/asio"]
	path = third_party/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "third_party/ads"]
	path = third_party/ads
	url = https://github.com/Beckhoff/ADS.git
[submodule "third_party/open62541"]
	path = third_party/open62541
	url = https://github.com/open62541/open62541.git
[submodule "third_party/ompl"]
	path = third_party/ompl
	url = https://github.com/ompl/ompl.git
[submodule "third_party/kdl"]
	path = third_party/kdl
	url = https://github.com/orocos/orocos_kinematics_dynamics.git
